Server:
  port: 8080

spring:
  application:
    name: order-service
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/cloud_order?characterEncoding=utf8&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: Ww911...
    driver-class-name: com.mysql.cj.jdbc.Driver

mybatis:
  configuration:

    map-underscore-to-camel-case: true

eureka:
  client:
    service-url:
      defaultZone: http://127.0.0.1:10010/eureka/
